<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>t</fieldName>
          <timeZone>UTC</timeZone>
        </timestamp>
        <pattern>
          <pattern>
            {
              "l": "%level",
              "m": "%message",
              "thread": "%thread",
              "class": "%logger{40}",
              "stack_trace": "%exception{10}",
              "traceId": "%X{traceId:-}",
              "spanId": "%X{spanId:-}",
              "parentSpanId": "%X{parentSpandId:-}",
              "requestId": "%X{requestId:-}",
              "remoteIp": "%X{remoteIp:-}"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="stdout"/>
  </root>
</configuration>

