apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: arbitrary

commonLabels:
  appID: demo-svc

resources:
- deployment.yaml
- service.yaml
- ingress.yaml
- namespace.yaml
